:root{
    --primary-color: #e2d45a;
    --background-primary: #151515;
    --large: 7rem;
    --medium: 5rem;
    --small: 3rem;
    --none: 0;
    --title-color: #fff;
    --full-height: 100vh;
}
body {
    padding: var(--none);
    margin: var(--none);
    height: var(--full-height);
}
#root{
    padding: var(--none);
    margin: var(--none);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-primary);
    color: var(--title-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: var(--full-height);
}
 